
/**
 * Implements hook_permission().
 */
function `Filename()`_permission() {
  return array(
    '${1:short name}' => array(
      'title' => t('${2:Readable Title}'),
      'description' => t('${3:Description}'),
    ),
  );
}

