$form['${1:/* form element */'}] = array(
  '#type' => 'fieldset', 
  '#title' => t('${2:/* title */}'),
	'#description' => t('${3:/* description */}'),
	'#collapsible' => ${4:TRUE},
	'#collapsed' => ${5:TRUE},
);
